body {
    background-image: url('/static/imagenes/Carro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.contenedor {

    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
                         "contenido contenido siderbar"
                         "Widget-1 Widget-2 siderbar"
                         "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .siderbar,
.contenedor .footer {

    background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background: rgba(18, 32, 62, 0.8); /* Fondo semi-transparente */
    color: #fff;
    grid-area: header;
}

.contenedor .contenido {
    grid-area: contenido;
    color: #000; /* Texto negro para que sea legible */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
}

.cerrar {
    cursor: pointer;
    font-size: 1.5em;
    float: right;
}


.contenedor .Widget-1,
.contenedor .Widget-2 {
    background: rgba(85, 168, 253, 0.8); /* Fondo semi-transparente */
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .Widget-1 {
    grid-area: Widget-1;
}

.contenedor .Widget-2 {
    grid-area: Widget-2;
}

/* --------------------------------------footer-----------------------------------------------------------*/

.footer {
    color: #fff;
    grid-area: footer;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 20px 0;
    background: none !important; /* Asegura que no haya fondo */
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer .enlaces,
.footer .contacto,
.footer .redes-sociales,
.footer .derechos {

    margin: 5px 0;
    background: none; /* Elimina el fondo de los elementos hijos */
}

.footer .enlaces a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer .enlaces a:hover {
    text-decoration: underline;
}

.footer .redes-sociales img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    vertical-align: middle;
}

/* --------------------------------------fin footer-----------------------------------------------------------*/

/* -------------------------------------- home css-----------------------------------------------------------*/

.catalogo .vehiculo img {
	
    max-width: 150px; /* Tamaño pequeño inicial */
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}



.vehiculo {
    background: transparent; /* Fondo completamente transparente */
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vehiculo:hover {
    transform: translateY(-5px); /* Efecto de levantar al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

.vehiculo img {
    max-width: 150px; /* Tamaño pequeño inicial */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.vehiculo h3 {
    margin: 10px 0 5px;
    font-size: 1.5em;
    color: #0c0b0b; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}

.vehiculo p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #070606; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}

.vehiculo button {

    background: #12203E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.vehiculo button:hover {
    background: #faa43d;
}

/* -------------------------------------- fin home css-----------------------------------------------------------*/


/*---------------------- siderbar  -------------------------------------------- */

.siderbar .oferta img {
	
    max-width: 150px; /* Tamaño pequeño inicial */
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.contenedor .siderbar {

    grid-column: 3/4;
    background: rgba(250, 164, 61, 0.8); /* Fondo semi-transparente */
    text-align: center;
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: flex-start; /* Alinea los elementos al inicio */
    min-height: 100px;
    grid-area: siderbar;
    padding: 20px; /* Espaciado interno */
    gap: 20px; /* Espaciado entre elementos */
}

.siderbar .oferta {

    background: rgba(250, 164, 61, 0.8); /* Fondo semi-transparente */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    text-align: center; /* Centra el contenido */	
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    width: 100%; /* Ocupa todo el ancho disponible */
}

.siderbar .oferta img {
	
    max-width: 100%; /* La imagen no excede el ancho del contenedor */
    height: auto; /* Mantiene la proporción */
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

.siderbar .oferta p {
    margin: 10px 0 0; /* Espaciado para el texto */
    font-size: 1.5em;
    color: #0c0b0b; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}

.siderbar h2 {
    font-size: 1.5em;
    color: #0c0b0b; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}

.siderbar ul {
    list-style: none; /* Elimina las viñetas */
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
    width: 100%; /* Ocupa todo el ancho disponible */
}

.siderbar ul li {
    margin: 10px 0; /* Espaciado entre elementos de la lista */
}

.siderbar ul li a {
    text-decoration: none; /* Elimina el subrayado */
    font-size: 1.5em;
    color: #0c0b0b; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
    transition: color 0.3s ease; /* Animación al pasar el mouse */
}

.siderbar ul li a:hover {
    color: #130fdd; /* Cambia el color al pasar el mouse */
}

/*---------------------- fin siderbar  -------------------------------------------- */

/*---------------------- Carros Usados css -------------------------------------------- */


.card {


    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {

    background: #59c9eb;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-dark {


    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-dark:hover {
    
    background-color: #333;
    transform: scale(1.05);
}



/*---------------------- Carros Usados css fin -------------------------------------------- */


@media screen and (max-width: 868px) {
    .contenedor {
        grid-template-areas: "header header header"
                             "contenido contenido contenido"
                             "siderbar siderbar siderbar"
                             "Widget-1 Widget-1 Widget-2"
                             "footer footer footer";
    }
}